@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>

    <h3>Cart Page</h3>
    <table cellpadding="2" cellspacing="2" border="1">
        <tr>
            <th>Option</th>
            <th>Id</th>
            <th>Name</th>
            <th>Photo</th>
            <th>Price</th>
            <th>Quantity</th>
            <th></th>
            <th>Sub Total</th>
        </tr>
        @foreach (var item in ViewBag.cart)
        {
            <tr>
                <td><a asp-controller="cart" asp-action="remove" asp-route-id="@item.Product.ProductId">Remove</a></td>
                <td>@item.Product.ProductId</td>
                <td>@item.Product.Title</td>
                <td></td>
                <td>@item.Product.Price</td>
                <td>@item.Quantity</td>
                <td>
                    <a asp-controller="cart" asp-action="minus" asp-route-id="@item.Product.ProductId">-</a>
                    <a asp-controller="cart" asp-action="plus" asp-route-id="@item.Product.ProductId">+</a>
                </td>
                <td>@(item.Product.Price * item.Quantity)</td>
            </tr>
        }
        <tr>
            <td align="right" colspan="6">Sum</td>
            <td>
                @ViewBag.total
            </td>
        </tr>
    </table>
    <br />

    <br>
    <a asp-controller="products" asp-action="index">Continue Shopping</a>
    <a asp-controller="cart" asp-action="checkout">Check Out</a>
</body>
</html>